@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.container .title-sp {
    width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
    border-bottom: 2px solid red;
    display: flex;
    justify-content: center;
}
.container .title-sp input {
    padding: 12px 20px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(26, 148, 255);
    color: white;
    font-size: 20px;
    border: none;
}

  .list-product {
    margin: auto;
    margin-top: 20px;
    text-align: center;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    display: grid !important;
    grid-template-columns: repeat(6, 180px) !important;
    flex-wrap: wrap;
}

  .product {
    position: relative;
    width: 180px !important;
    height: 270px !important;
    background: #fff;
    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
    margin-bottom: 20px;
    
}

  .product .items {
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    margin: auto;
}
   .product .image {
    overflow: hidden;
}
  .product .image img {
    width: 160px;
    vertical-align: middle;
    border-style: none;
    overflow: hidden;
}
  .product .image img:hover {
    transform: scale(1.1);
    transition: transform linear 0.6s;
    cursor: pointer;
}

   .product .box-sale {
    background: none !important;
    box-sizing: border-box;
    position: absolute;
    width: 65px;
    height: 65px;
    top: 0px;
    right: 0px;
    padding: 0px;
    overflow: hidden;
}
   .product .box-sale .wrap {
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

  .product .box-sale .wrap .border {
    width: 0;
    height: 0;
    border-right: 65px solid #fc2b2b;
    border-bottom: 65px solid transparent;
    z-index: 12;
    position: relative;
    top: -20px;
}

  .product .box-sale .wrap .text {
    color: white;
    font-size: 13px;
    font-weight: bold;
    line-height: 13px;
    position: absolute;
    z-index: 14;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 4px;
    left: -5px;
    width: 91px;
    text-align: center;
}

   .product .name-product {
    margin: auto;
    text-align: center;
    width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    
}
  .product .name-product a {
    color: #007bff;
}

 .product .price {
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 20px;
    margin: auto;
    text-align: center;
    width: 126px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15px;
}

  .product .button {
    margin-top: 10px;
    text-align: center;
}

.btn-ellipse:hover {
    border-color: #48afcb;
    background-color: #48afcb !important;
    transition-delay: 0.3s;
    cursor: pointer;
    color: white;
}

.btn-ellipse:hover::before {
transform: translate(300%, -50%)!important;
transition: 0.5s;
}

.btn-ellipse:hover::after {
transform: translate(-300%, -50%)!important;
}

.btn-ellipse:before {
left: -20px;
transform: translate(-50%, -50%);
position: absolute;
top: 50%;
content: '';
width: 20px;
height: 20px;
background: #48afcb;
border-radius: 50%;
z-index: -1;
transition: 0.5s;
}

.btn-ellipse:after {
position: absolute;
transform: translate(50%, -50%);
top: 50%;
content: '';
width: 20px;
height: 20px;
background: #48afcb;
border-radius: 50%;
z-index: -1;
transition: 0.5s;
right: -20px;
}

.btn-ellipse {
position: relative;
background-color: #f2f2f2 !important;
z-index: 1;
overflow: hidden;
transition: 0.2s;
transition-delay: 0.1s;
}

.btn-ellipse {
display: inline-block;
padding: 12px 22px;
margin-bottom: 0;
font-size: 12px;
line-height: 1.4;
text-align: center;
color: #333;
border: 1px solid transparent;
border-radius: 3px;
}

  .product:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
   .product:active {
    color: #000
}
  .product:active:after {
    background: transparent;
}
  .product:hover:before {
    opacity: 1;
}
  .product:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background : #f2f2f2;
    left: 0;
    top: 0;
    border-radius: 10px;
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
a {
  text-decoration: none !important;
}