<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <div class="container">
        <header class="navbar-light bg-info">
            đây là header
        </header>
        <div class="d-flex">
            <aside>
                đây là aside
            </aside>
            <main>
                <router-outlet></router-outlet>
            </main>
        </div>
        <footer>
            đây là footer
        </footer>
    </div>
</body>
</html>