
    <!-- <p>{{productForm.value | json}}</p> -->
    <div style="width: 1500px;">
        <div class="row">
            <!-- <div class="col-md-6">
                <form #productForm="ngForm" class="form" (submit)="OnSubmit(productForm.value)">
                    <div class="mb-3">
                        <label class="form-label" for="">Name</label>
                        <input type="text" class="form-control" name="name" placeholder="name" [(ngModel)]="newProduct.name">
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label" for="">Price</label>
                        <input type="number" class="form-control" name="price" placeholder="price" [(ngModel)]="newProduct.price">
                    </div>
    
                    <div class="mb-3">
                        <label class="form-label" for="">Desc</label>
                        <input type="text" class="form-control" name="desc" placeholder="desc" [(ngModel)]="newProduct.desc">
                    </div>
    
                    <div class="mb-3">
                        <button class="btn btn-success" type="submit">Submit</button>
                    </div>
                </form>
            </div> -->
            
            <div class="col-md-6">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Desc</th>
                            <th>Status</th>
                            <th><a class="btn btn-primary" [routerLink]="['/products/create']">Tạo mới</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pro of products">
                            <td>
                                <app-product-name
                                [name]= "pro.name"
                                ></app-product-name>
                            </td>
                            <td>{{pro.price}}</td>
                            <td>
                                <app-product-name
                                [name]= "pro.desc"
                                ></app-product-name>
                            </td>
                            <td><app-status
                                [status]="pro.status"
                                (changeStatus)="parentChangeStatus($event, pro.id)"
                            ></app-status>
                            </td>
                            <td>
                                <a class="btn btn-primary" [routerLink]="['/products/', pro.id]">Chi tiet</a>
                                <a [routerLink]="['/products/', pro.id, 'edit']">
                                    <button class="btn btn-success">Sửa</button>
                                </a>
                                <button (click)="onDelete(pro.id)" class="btn btn-danger"> Xóa</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

